# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Peter
email = peter@liyao.co
[ghq]
root = ~/.ghq
[alias]
d = diff
ft = fetch
cp = cherry-pick
co = checkout
ci = commit
ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
st = status
br = branch
ba = branch -a
