# bass
__*

# fish
completions
fish_variables
fish_plugins
fish/functions/*
!fish/functions/fish_user_key_bindings.fish
!fish/functions/fzf_change_directory.fish
fish/conf.d/*

# xcode
.DS_Store

# iterm2
iterm2

# gcloud SDK
gcloud

github-copilot
