# bass
__*

# fish
completions
fish_variables
fish_plugins
fish/functions/bass.fish
fish/functions/fish_mode_prompt.fish
fish/functions/fish_prompt.fish
fish/functions/fish_right_prompt.fish
fish/functions/node*
fish/functions/npm*
fish/functions/nvm*
fish/functions/npx*
fish/functions/yarn*
fish/conf.d/*

# xcode
.DS_Store

# iterm2
iterm2

# gcloud SDK
gcloud

github-copilot
