# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Peter
email = rmpeter0474@adcrow.tech
[ghq]
root = ~/.ghq
[alias]
d = diff
co = checkout
ci = commit
ca = commit -a
ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
st = status
br = branch
ba = branch -a
