host github.com
  HostName github.com
  IdentityFile ~/.ssh/id_rsa_git
  IdentitiesOnly yes
  User peter
host git.1688898.xyz
  HostName git.1688898.xyz
  IdentityFile ~/.ssh/id_rsa_git
  IdentitiesOnly yes
  User peter
host 10.30.3.52 interalert
  HostName 10.30.3.52
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes
  User rmpeter0474
host 10.120.100.10 kimbaba
  HostName 10.120.100.10
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes
  User da01
